// Ionic Variables and Theming. For more info, please see:
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/** Ionic CSS Variables **/
:root {

  --poppins: 'Poppins', sans-serif;
  --primary-color: #DCCCC2;
  --primary-color-dark: #C3A38E;
  --green: #5C7E4B;
  --white: #FDF8F8;
  --black: #333333;
  --red: #8D2A2A;
  
}