<ion-header>
  <ion-toolbar mode="ios">

    <ion-title>
    <img src="../../assets/logo-horizontal.svg" alt="logo urban forest">
  </ion-title>
  <ion-button slot="end">
<ion-icon name="search"></ion-icon>
  </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <app-page-heading title="trending"></app-page-heading>
  <ion-slides>
    <ion-slide *ngFor="let post of posts">
      <app-trending-post [post]="post" (clickOnPost)="goToPost($event)"></app-trending-post>
    </ion-slide>
  </ion-slides>
</div>
</ion-content>
