<ion-header>
  <ion-toolbar mode="ios">
    <ion-button slot="start" (click)="goToTrending()">
      <ion-icon name="globe-outline"></ion-icon>
    </ion-button>
    <ion-title>
      <img src="../../assets/logo-horizontal.svg" alt="logo urban forest">
    </ion-title>
    <ion-button slot="end" (click)="logOutUser
    ()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <app-profile-header [user]="user"></app-profile-header>
    <ul>
        <li *ngFor="let post of posts">
          <app-post [post]="post" [postOwner]="user"></app-post>
        </li>
    </ul>
  </div>

</ion-content>
