<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <img src="../../assets/icons/arrow-left.svg">
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <app-page-heading title="notificações"></app-page-heading>
    <ul class="notifications-list">
      <li>
        <app-notification-item></app-notification-item>
      </li>
      
      <li>
        <app-notification-item></app-notification-item>
      </li>

      <li>
        <app-notification-item></app-notification-item>
      </li>

      <li>
        <app-notification-item></app-notification-item>
      </li>
    </ul>
  </div>
</ion-content>

