ion-toolbar {
    --background: var(--primary-color-dark);
}

ion-toolbar ion-button {
    --background: none;
    --box-shadow: none;
    --ripple-color: transparent;
    --background-activated: none;
    --background-hover: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}

app-page-heading {
    width: 100%;
    height: 15vh;
}

.notifications-list {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
}

.notifications-list li {
    width: 100%;
    list-style: none;
    padding: 0;
    border-bottom: solid #969696 1px;
}

app-notification-item {
    width: 100%;
}
